#kocka{
    height: 408px;
    width: 408px;
    background-color: red;
    margin-left: 550px;
}

.kockica{
    height: 100px;
    width: 100px;
    border: 1px;
    border-color: black;
    border-style: solid;
    float: left;
}