<div class="points" [ngStyle]="{'font-size': '50px', 'margin-left': '660px'}">Points : {{points}}</div>
<div class="text" [ngStyle]="{'font-size': '50px', 'margin-left': '660px'}">{{text}}</div>

<div id="kocka">
  
  <div class="main">
    <div class="kockica">
      <app-component1 (onClick)="klik(0)" (onClick)="check()" [slika]="memory[0]"></app-component1>
    </div>

    <div class="kockica">
      <app-component2 (onClick)="klik(1)" (onClick)="check()" [slika]="memory[1]"></app-component2>
    </div>

    <div class="kockica">
      <app-component3 (onClick)="klik(2)" (onClick)="check()" [slika]="memory[2]"></app-component3>
    </div>

    <div class="kockica">
      <app-component4 (onClick)="klik(3)" (onClick)="check()" [slika]="memory[3]"></app-component4>
    </div>

  </div>
  
  <div class="main">
    <div class="kockica">
      <app-component5 (onClick)="klik(4)" (onClick)="check()" [slika]="memory[4]"></app-component5>
    </div>
    <div class="kockica">
      <app-component6 (onClick)="klik(5)" (onClick)="check()" [slika]="memory[5]"></app-component6>
    </div>
    <div class="kockica">
      <app-component7 (onClick)="klik(6)" (onClick)="check()" [slika]="memory[6]"></app-component7>
    </div>
    <div class="kockica">
      <app-component8 (onClick)="klik(7)" (onClick)="check()" [slika]="memory[7]"></app-component8>
    </div>
  </div>
  
  <div class="main">
    <div class="kockica">
      <app-component9 (onClick)="klik(8)" (onClick)="check()" [slika]="memory[8]"></app-component9>
    </div>
    <div class="kockica">
      <app-component10 (onClick)="klik(9)" (onClick)="check()" [slika]="memory[9]"></app-component10>
    </div>
    <div class="kockica">
      <app-component11 (onClick)="klik(10)" (onClick)="check()" [slika]="memory[10]"></app-component11>
    </div>
    <div class="kockica">
      <app-component12 (onClick)="klik(11)" (onClick)="check()" [slika]="memory[11]"></app-component12>
    </div>
  </div>
  
  <div class="main">
    <div class="kockica">
      <app-component13 (onClick)="klik(12)" (onClick)="check()" [slika]="memory[12]"></app-component13>
    </div>
    <div class="kockica">
      <app-component14 (onClick)="klik(13)" (onClick)="check()" [slika]="memory[13]"></app-component14>
    </div>
    <div class="kockica">
      <app-component15 (onClick)="klik(14)" (onClick)="check()" [slika]="memory[14]"></app-component15>
    </div>
    <div class="kockica">
      <app-component16 (onClick)="klik(15)" (onClick)="check()" [slika]="memory[15]"></app-component16>
    </div>
  </div>
</div>
<div>
  <button (click)="playAgain()" class="playAgain" [ngStyle]="{'margin-left' : '710px', 'margin-top': '50px', 'height': '50px'}">PLAY AGAIN</button>
</div>
